/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Karla:wght@500&family=Space+Grotesk&display=swap');

body {
	background-color: black;
	font-family: 'Karla', sans-serif;
}
.planet {
	background-image: url(/public/backgroundimg3.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

/*ul.solarsystem:hover li {animation-play-state: paused;} */
section {
	background-image: url(/public/secticonTwo.png);
	background-repeat: no-repeat;
	background-size: cover;
	/* /* height: 50vh; */
	margin-top: -18rem;
}
.hero-image {
	background-image: url(/public/Group\ 2.png);
	clip-path: polygon(100% 0, 100% 68%, 0 89%, 0 0);
}

@media (max-width: 768px) {
	.hero-image {
		background-image: url(/public/iphone2.png);
		clip-path: polygon(100% 0, 100% 68%, 0 79%, 0 0);
		/* height: 85vh; */
	}
	section {
		background-image: url(/public/Group\ 3.png);
		/* /* margin-top: -9rem; */

		height: auto;
	}
	body {
		background-color: black;
		/* overflow: hidden; */
	}
}


.loader {
	--moon-r: 0.7em;
	--planet-r: 1.75em;
	--planet-stroke-width: 4;
	--center: 50;
	--moon-max: 80;
	--moon-min: 20;
	--animation-duration: 4000ms;
	--planet-stroke: black;
	--planet-fill: white;
	--moon-fill: #fecb00;
	width: 7em;
  }
  
  .planet {
	cx: var(--center);
	cy: var(--center);
	r: var(--planet-r);
	fill: var(--planet-fill);
	stroke: var(--planet-stroke);
	stroke-width: var(--planet-stroke-width);
  }
  
  .moon {
	fill: var(--moon-fill);
	r: var(--moon-r);
  }
  
  .moon-front {
	animation: orbit0234 var(--animation-duration) ease-in-out infinite,
	  orbit-front var(--animation-duration) linear infinite;
  }
  
  .moon-back {
	animation: orbit0234 var(--animation-duration) ease-in-out infinite;
  }
  
  @keyframes orbit0234 {
	0% {
	  cx: var(--moon-max);
	  cy: var(--moon-min);
	}
  
	50% {
	  cx: var(--moon-min);
	  cy: var(--moon-max);
	}
  
	100% {
	  cx: var(--moon-max);
	  cy: var(--moon-min);
	}
  }
  
  @keyframes orbit-front {
	0% {
	  opacity: 0;
	}
  
	49% {
	  opacity: 0;
	}
  
	50% {
	  opacity: 1;
	}
  }
  


  /* Buttn  */

  .contactButton {
	background: #7079f0;
	color: white;
	font-family: inherit;
	padding: 0.45em;
	padding-left: 1.0em;
	font-size: 17px;
	font-weight: 500;
	border-radius: 0.9em;
	border: none;
	letter-spacing: 0.05em;
	display: flex;
	align-items: center;
	box-shadow: inset 0 0 1.6em -0.6em #714da6;
	overflow: hidden;
	position: relative;
	height: 2.8em;
	padding-right: 3em;
  }
  
  .iconButton {
	margin-left: 1em;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.2em;
	width: 2.2em;
	border-radius: 0.7em;
	box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
	right: 0.3em;
	transition: all 0.3s;
  }
  
  .contactButton:hover {
	transform: translate(-0.05em, -0.05em);
	box-shadow: 0.15em 0.15em #5566c2;
  }
  
  .contactButton:active {
	transform: translate(0.05em, 0.05em);
	box-shadow: 0.05em 0.05em #5566c2;
  }